{% extends 'dash.html.twig' %}
{% form_theme formProject 'bootstrap_4_layout.html.twig' %}
{% block title 'Ajouter un project' %}
{% block body %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Ajouter un projet</h4>
						</div>
						<div class="card-body">
							{{form_start(formProject)}}
							{{form_widget(formProject)}}
							<button type="submit" class="btn btn-primary pull-right ml-4">
								{% if editMode %}
									Modifier Project
								{% else %}
									Ajouter un Project
								{% endif %}
							</button>
						</div>
						{{form_end(formProject)}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
